::ng-deep {
	.container-after-titlebar {
		background: #1c1c1c;
		bottom: 36px !important;
	}
}

.content {
	background-color: #161616;
	min-height: 100%;

	.tab-content {
		padding: 12px 12px 48px 12px;
	}
}

.action-bar {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 0 16px;
	z-index: 1;
	background: #232323;
	color: rgba(200, 200, 200, 0.87);
	border-top: 1px solid rgba(200, 200, 200, 0.12);

	button + button {
		margin-left: 16px;
	}
}

.loading {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: rgba(200, 200, 200, 0.87);
}
