:host {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 12px;
}

::ng-deep {
	.mat-mdc-tooltip {
		white-space: pre-line;

		&.width-450 .mat-mdc-tooltip-surface {
			max-width: 450px;
		}
	}
}
