<mat-card *ngFor="let command of settings.commands; let index = index">
	<mat-card-content>
		<mat-form-field matTooltip="{{ 'command.text-description' | translate }}"
						matTooltipClass="width-450">
			<mat-label>{{ 'command.text' | translate }}</mat-label>
			<input matInput [(ngModel)]="command.text" />
		</mat-form-field>
		<app-accelerator [label]="'app.shortcut' | translate" [(value)]="command.shortcut">
		</app-accelerator>
	</mat-card-content>
	<mat-card-actions>
		<button mat-button (click)="onRemoveClick(index)">
			Remove
		</button>
	</mat-card-actions>
</mat-card>
<button mat-raised-button (click)="onAddCommandClick()">
	{{ 'command.add' | translate }}
</button>
