/* poe */

$pseudo: #232420;
$implicit: #65621e;
$crafted: #0060bf;
$enchant: #8b579c;
$fractured: #a29162;
$monster: #bd1818;
$ultimatum: #d20000;
$scourge: #ff6e25;
$crucible: #ff7339;
$sanctum: #887040;

$purple: #88f;
$blue: #b4b4ff;
$yellow: #ff7;
$orange: #af6025;
$light-orange: #aa9e82;
$red: #e63244;
$pink: #e745ad;
$aqua: #1ba29b;
$indigo: #b54bff;
$green: #82ad6a;
$light-yellow: #dbcfad;
$black-transparent: rgba(0, 0, 0, 0.8);

/* colors */

$white: #fff;
$light-grey: #c8c8c8;
$light-dark-grey: #7f7f7f;
$black: #000;
$settings-grey-one: #2a2a2a;
$settings-grey-two: #313131;
$settings-grey-three: #383838;

/* settings window */
$label-color: rgba(200, 200, 200, 0.54);
