<mat-card *ngFor="let bookmark of settings.bookmarks; let index = index">
	<mat-card-content>
		<div class="url-toggle">
			<mat-form-field>
				<mat-label>{{ 'bookmark.url' | translate }}</mat-label>
				<input matInput [(ngModel)]="bookmark.url" />
			</mat-form-field>
			<mat-slide-toggle [checked]="bookmark.external" (change)="bookmark.external = $event.checked">
				{{ 'bookmark.external' | translate }}
			</mat-slide-toggle>
		</div>
		<app-accelerator [label]="'app.shortcut' | translate" [(value)]="bookmark.shortcut">
		</app-accelerator>
	</mat-card-content>
	<mat-card-actions>
		<button mat-button (click)="onRemoveClick(index)">Remove</button>
	</mat-card-actions>
</mat-card>
<div class="bookmark-actions">
	<button mat-raised-button (click)="onAddClick()">
		{{ 'bookmark.add' | translate }}
	</button>
	<button mat-raised-button (click)="ghostInput.click()">
		{{ 'bookmark.add-file' | translate }}
	</button>
	<input hidden #ghostInput type="file" (change)="onFileSelected($event)" />
</div>
