@use './styles/theme';
@use './styles/scrollbar';
@use './styles/variables' as vars;

html,
body {
	height: 100%;
	margin: 0;
	font-family: Roboto, 'Helvetica Neue', sans-serif;
	user-select: none;
}

.clickable {
	cursor: pointer;
	pointer-events: all;
}

.interactable {
	pointer-events: all;
}

.mat-mdc-snack-bar-container.snack-bar-service {
	min-width: 0;
	border-radius: 2px;
	background-color: rgb(35, 35, 35);

	&.error {
		background-color: vars.$red;
	}

	&.warning {
		background-color: vars.$orange;
	}

	&.success {
		background-color: vars.$purple;
	}

}

.backdrop-fullsize+.cdk-global-overlay-wrapper {
	.mat-mdc-dialog-container {
		border-radius: 2px;
		padding: 0;
		margin: 0;
	}

	.mat-mdc-dialog-content,
	.mat-mdc-dialog-actions {
		margin: 0;
		padding: 0;
	}

	.mat-mdc-dialog-actions {
		padding: 0 12px;
	}

}

.cdk-overlay-dark-backdrop {
	background: rgba(0, 0, 0, 0.01);

	&+.cdk-global-overlay-wrapper {
		.mat-mdc-dialog-container {
			box-shadow: none;
			background: none;
			border-radius: 0;
			padding: 0;
		}

	}
}

.mat-mdc-form-field {
	width: 100%;
}

.tooltip-val {
	padding: 2px !important;
}
