<div class="evaluate">
	<mat-card>
		<mat-card-header>
			<mat-card-title>{{'evaluate.name' | translate}}</mat-card-title>
		</mat-card-header>
		<mat-card-content class="name">
			<app-accelerator [label]="'app.shortcut' | translate" [(value)]="settings.evaluateKeybinding">
			</app-accelerator>
			<mat-slide-toggle [checked]="settings.evaluateCopyAdvancedItemText"
							  (change)="settings.evaluateCopyAdvancedItemText = $event.checked">
				{{ 'evaluate.use-advanced-mods-copy' | translate }}
			</mat-slide-toggle>
		</mat-card-content>
	</mat-card>
	<mat-card>
		<mat-card-header>
			<mat-card-title>{{'evaluate.translate' | translate}}</mat-card-title>
		</mat-card-header>
		<mat-card-content class="translate">
			<mat-form-field>
				<mat-label>{{ 'app.language' | translate }}</mat-label>
				<mat-select [(value)]="settings.evaluateTranslatedItemLanguage">
					<mat-option *ngFor="let language of languages.keys" [value]="language">
						{{ 'settings.languages.' + (languages.values[language] | lowercase) | translate }}
					</mat-option>
				</mat-select>
			</mat-form-field>
			<app-accelerator [label]="'app.shortcut' | translate" [(value)]="settings.evaluateTranslatedKeybinding">
			</app-accelerator>
		</mat-card-content>
	</mat-card>
</div>

<mat-card>
	<mat-card-header>
		<mat-card-title>{{'evaluate.currencies' | translate}}</mat-card-title>
	</mat-card-header>
	<mat-card-content class="currencies">
		<mat-slide-toggle [checked]="settings.evaluateCurrencyOriginal"
						  (change)="settings.evaluateCurrencyOriginal = $event.checked">
			{{ 'evaluate.currency-listing' | translate }}
		</mat-slide-toggle>
		<mat-form-field>
			<mat-label>{{ 'evaluate.currency' | translate }}</mat-label>
			<mat-select [(value)]="settings.evaluateCurrencyIds" (valueChange)="onCurrenciesValueChange()" multiple>
				<mat-option *ngFor="let currency of currencies$ | async" [value]="currency.id">
					<span> {{ currency.nameType }} </span>
				</mat-option>
			</mat-select>
		</mat-form-field>
	</mat-card-content>
</mat-card>

<mat-card>
	<mat-card-header>
		<mat-card-title>{{'evaluate.layout' | translate}}</mat-card-title>
	</mat-card-header>
	<mat-card-content class="layout">
		<mat-form-field>
			<mat-label>{{ 'evaluate.result-view' | translate }}</mat-label>
			<mat-select [(value)]="settings.evaluateResultView">
				<mat-option *ngFor="let view of views.keys" [value]="view">
					{{ 'evaluate.result-views.' + (views.values[view] | lowercase) | translate }}
				</mat-option>
			</mat-select>
		</mat-form-field>
		<mat-slide-toggle [checked]="settings.evaluateShowPricePrediction"
						  (change)="settings.evaluateShowPricePrediction = $event.checked"
						  matTooltip="{{ 'evaluate.show-price-prediction-tooltip' | translate }}">
			{{ 'evaluate.show-price-prediction' | translate }}
		</mat-slide-toggle>
		<mat-slide-toggle [checked]="settings.evaluateShowExchangeRate"
						  (change)="settings.evaluateShowExchangeRate = $event.checked"
						  matTooltip="{{ 'evaluate.show-exchange-rate-tooltip' | translate }}">
			{{ 'evaluate.show-exchange-rate' | translate }}
		</mat-slide-toggle>
	</mat-card-content>
</mat-card>

<mat-card>
	<mat-card-header>
		<mat-card-title>{{'evaluate.query' | translate}}</mat-card-title>
	</mat-card-header>
	<mat-card-content class="query">
		<mat-slide-toggle [checked]="settings.evaluateQueryInitialSearch"
						  (change)="settings.evaluateQueryInitialSearch = $event.checked">
			{{ 'evaluate.initial-search' | translate }}
		</mat-slide-toggle>
		<div class="query-sliders">
			<div class="value-range">
				<mat-label [title]="'evaluate.debounce-description' | translate">
					{{ 'evaluate.debounce-time' | translate }}:
					{{ displayWithTime(settings.evaluateQueryDebounceTime) }}
				</mat-label>
				<div class="slider">
					<mat-slider min="5" [max]="debounceTimeMax" step="5" tickInterval="2"
								[displayWith]="displayWithTime">
						<input matSliderThumb [(value)]="settings.evaluateQueryDebounceTime">
					</mat-slider>
					<span>&nbsp;∞</span>
				</div>
			</div>
			<div class="value-range">
				<mat-label>
					{{ 'evaluate.fetch-count' | translate }}:
					{{ displayWithCount(settings.evaluateQueryFetchCount) }}
				</mat-label>
				<div class="slider">
					<mat-slider min="10" [max]="fetchCountMax" step="10" tickInterval="1"
								[displayWith]="displayWithCount">
						<input matSliderThumb [(value)]="settings.evaluateQueryFetchCount">
					</mat-slider>
					<span>100</span>
				</div>
			</div>
		</div>
	</mat-card-content>
</mat-card>

<mat-card>
	<mat-card-header>
		<mat-card-title>{{'evaluate.browser' | translate}}</mat-card-title>
	</mat-card-header>
	<mat-card-content>
		<mat-slide-toggle [checked]="settings.evaluateBrowserAlwaysExternal"
						  (change)="settings.evaluateBrowserAlwaysExternal = $event.checked">
			{{ 'evaluate.disable-browser-overlay' | translate }}
		</mat-slide-toggle>
	</mat-card-content>
</mat-card>

<mat-card>
	<mat-card-header>
		<mat-card-title>{{ 'evaluate.profiles' | translate }}</mat-card-title>
	</mat-card-header>
	<mat-card-content class="profiles">
		<mat-tab-group mat-stretch-tabs="false">
			<mat-tab [label]="'evaluate.profile.default' | translate">
				<div class="profile">
					<mat-card>
						<mat-card-header>
							<mat-card-title>{{ 'evaluate.search.filter' | translate }}</mat-card-title>
						</mat-card-header>
						<mat-card-content class="filter">
							<mat-slide-toggle [checked]="settings.evaluateQueryOnline"
											  (change)="settings.evaluateQueryOnline = $event.checked">
								{{ 'evaluate.search.online-only' | translate }}
							</mat-slide-toggle>
							<mat-form-field>
								<mat-label>{{ 'evaluate.search.max-age.title' | translate }}</mat-label>
								<mat-select [(value)]="settings.evaluateQueryIndexedRange">
									<mat-option value="any"> {{ 'evaluate.search.max-age.any' | translate }}
									</mat-option>
									<mat-option value="1day">
										{{ 'evaluate.search.max-age.day' | translate }}
									</mat-option>
									<mat-option value="3days">
										{{ 'evaluate.search.max-age.days' | translate }}
									</mat-option>
									<mat-option value="1week">
										{{ 'evaluate.search.max-age.week' | translate }}
									</mat-option>
									<mat-option value="2weeks">
										{{ 'evaluate.search.max-age.weeks' | translate }}
									</mat-option>
									<mat-option value="1month">
										{{ 'evaluate.search.max-age.month' | translate }}
									</mat-option>
									<mat-option value="2months">
										{{ 'evaluate.search.max-age.months' | translate }}
									</mat-option>
								</mat-select>
							</mat-form-field>
						</mat-card-content>
					</mat-card>
					<mat-card>
						<mat-card-header>
							<mat-card-title>{{ 'evaluate.search.properties' | translate }}</mat-card-title>
							<mat-card-subtitle [title]="'evaluate.property.range-description' | translate">{{
								'evaluate.property.range' | translate }}</mat-card-subtitle>
						</mat-card-header>
						<mat-card-content>
							<!-- TODO re-evaluate UI/UX of this range control -->
							<div class="range">
								<span class="preview">
									- {{ displayWithStat(settings.evaluatePropertyMinRange) }}%
									<span class="spacer">~</span>
									+ {{ displayWithStat(settings.evaluatePropertyMaxRange) }}%
								</span>
								<span>#</span>
								<mat-slider min="0" max="50" step="1" tickInterval="10" invert
											[displayWith]="displayWithStat">
									<input matSliderThumb [(value)]="settings.evaluatePropertyMinRange">
								</mat-slider>
								<mat-slider min="0" max="50" step="1" tickInterval="10" [displayWith]="displayWithStat">
									<input matSliderThumb [(value)]="settings.evaluatePropertyMaxRange">
								</mat-slider>
								<span>#</span>
								<ng-template #single>
									<div class="value">
										<span>50</span>
									</div>
								</ng-template>
							</div>

							<div class="toggles">
								<mat-slide-toggle [checked]="settings.evaluateQueryDefaultAttack"
												  (change)="settings.evaluateQueryDefaultAttack = $event.checked">
									{{ 'evaluate.search.attack' | translate }}
								</mat-slide-toggle>
								<mat-slide-toggle [checked]="settings.evaluateQueryDefaultDefense"
												  (change)="settings.evaluateQueryDefaultDefense = $event.checked">
									{{ 'evaluate.search.defense' | translate }}
								</mat-slide-toggle>
								<mat-slide-toggle [checked]="settings.evaluateQueryNormalizeQuality"
												  (change)="settings.evaluateQueryNormalizeQuality = $event.checked">
									{{ 'evaluate.search.normalize-quality' | translate }}
								</mat-slide-toggle>
								<mat-slide-toggle [checked]="settings.evaluateQueryDefaultItemLevel"
												  (change)="settings.evaluateQueryDefaultItemLevel = $event.checked">
									{{ 'evaluate.search.item-level' | translate }}
								</mat-slide-toggle>
								<mat-slide-toggle [checked]="settings.evaluateQueryDefaultType"
												  (change)="settings.evaluateQueryDefaultType = $event.checked">
									{{ 'evaluate.search.item-type' | translate }}
								</mat-slide-toggle>
								<mat-slide-toggle [checked]="settings.evaluateQueryDefaultMiscs"
												  (change)="settings.evaluateQueryDefaultMiscs = $event.checked">
									{{ 'evaluate.search.gem' | translate }}
								</mat-slide-toggle>


								<mat-form-field>
									<mat-label>{{ 'evaluate.search.item-default-links' | translate }}</mat-label>
									<mat-select [(value)]="settings.evaluateQueryDefaultLinks">
										<mat-option [value]="0">
											{{ 'evaluate.search.item-links.always' | translate }}
										</mat-option>
										<mat-option [value]="5"> 5-6 </mat-option>
										<mat-option [value]="6"> 6 </mat-option>
										<mat-option [value]="999">
											{{ 'evaluate.search.item-links.never' | translate }}
										</mat-option>
									</mat-select>
								</mat-form-field>
								<mat-form-field>
									<mat-label>{{ 'evaluate.search.item-default-sockets' | translate }}</mat-label>
									<mat-select [(value)]="settings.evaluateQueryDefaultColors">
										<mat-option [value]="0">
											{{ 'evaluate.search.item-sockets.always' | translate }}
										</mat-option>
										<mat-option [value]="5"> 5-6 </mat-option>
										<mat-option [value]="6"> 6 </mat-option>
										<mat-option [value]="999">
											{{ 'evaluate.search.item-sockets.never' | translate }}
										</mat-option>
									</mat-select>
								</mat-form-field>
							</div>
						</mat-card-content>
					</mat-card>

					<mat-card>
						<mat-card-header>
							<mat-card-title>{{ 'evaluate.stats' | translate }}</mat-card-title>
							<mat-card-subtitle [title]="'evaluate.property.range-description' | translate">{{
								'evaluate.stats-range' | translate }}</mat-card-subtitle>
						</mat-card-header>
						<mat-card-content>
							<div class="range">
								<span class="preview">
									- {{ displayWithStat(settings.evaluateModifierMinRange) }}%
									<span class="spacer">~</span>
									+ {{ displayWithStat(settings.evaluateModifierMaxRange) }}%
								</span>
								<span>#</span>
								<mat-slider min="0" max="50" step="1" tickInterval="10" invert
											[displayWith]="displayWithStat">
									<input matSliderThumb [(value)]="settings.evaluateModifierMinRange">
								</mat-slider>
								<mat-slider min="0" max="50" step="1" tickInterval="10" [displayWith]="displayWithStat">
									<input matSliderThumb [(value)]="settings.evaluateModifierMaxRange">
								</mat-slider>
								<span>#</span>
								<ng-template #single>
									<div class="value">
										<span>50</span>
									</div>
								</ng-template>
							</div>

							<div class="toggles">
								<mat-slide-toggle [checked]="settings.evaluateQueryDefaultStatsUnique"
												  (change)="settings.evaluateQueryDefaultStatsUnique = $event.checked"
												  matTooltip="{{ 'evaluate.stats-unique-check-all-tooltip' | translate }}">
									{{ 'evaluate.stats-unique-check-all' | translate }}
								</mat-slide-toggle>
								<mat-slide-toggle [checked]="settings.evaluateQueryDefaultStatsEnchants"
												  (change)="settings.evaluateQueryDefaultStatsEnchants = $event.checked"
												  matTooltip="{{ 'evaluate.stats-enchants-check-all-tooltip' | translate }}">
									{{ 'evaluate.stats-enchants-check-all' | translate }}
								</mat-slide-toggle>
							</div>

							<ng-container *ngIf="(stats$ | async) as stats">
								<app-select-list [items]="stats" [itemFilter]="itemPredicate"
												 (itemsChange)="onStatsChange($event)">
									<ng-template let-item>
										<span class="stat" [title]="item.text">
											<span [class]="'type ' + item.type"> {{ item.type }} </span>
											<span class="text"> {{ item.text }} </span>
										</span>
									</ng-template>
								</app-select-list>
							</ng-container>
						</mat-card-content>
						<mat-card-actions align="end">
							<button mat-button (click)="onImportStats()">
								{{ 'evaluate.stats-import' | translate }}
							</button>
							<button mat-button (click)="onExportStats()">
								{{ 'evaluate.stats-export' | translate }}
							</button>
						</mat-card-actions>
					</mat-card>
				</div>
			</mat-tab>

			<mat-tab disabled>
				<ng-template mat-tab-label>
					<mat-icon>add</mat-icon>
				</ng-template>
			</mat-tab>
		</mat-tab-group>
	</mat-card-content>
</mat-card>
