@use './../../../../../styles/variables' as vars;
@use '@angular/material' as mat;

:host {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.evaluate {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 12px;
}

.name,
.currencies,
.layout,
.filter {
	display: flex;
	align-items: center;
	gap: 12px;

	app-accelerator,
	mat-form-field {
		flex: 2;
	}
}

.translate {
	display: flex;
	gap: 12px;
}

.query-sliders {
	margin-top: 12px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 12px;
}

.profiles {
	padding: 0;

	@include mat.card-overrides((
		// #232323 matches the default card background by default
			elevated-container-color: color-mix(in srgb, #232323, #fff 5%)
		));

		.profile {
			margin: 12px;
			display: flex;
			flex-direction: column;
			gap: 12px;
		}
}

.stat {
	display: flex;
	align-items: center;

	>.text {
		overflow: hidden;
		max-height: 38px;
	}

	>.type {
		display: inline-block;
		padding: 3px;
		margin-right: 6px;
		border-radius: 4px;

		&.explicit {
			display: none;
		}

		&.pseudo {
			background-color: vars.$pseudo;
		}

		&.implicit {
			background-color: vars.$implicit;
		}

		&.crafted {
			background-color: vars.$crafted;
		}

		&.enchant {
			background-color: vars.$enchant;
		}

		&.sanctum {
			background-color: vars.$sanctum;
		}
	}
}

.value-range {
	flex: 1;
	display: flex;
	flex-direction: column;

	.slider {
		display: flex;
		align-items: center;

		mat-slider {
			flex: 1;
		}
	}
}

.range {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: wrap;

	.preview {
		flex: 1 1 100%;
		text-align: center;
		font-size: 16px;
		color: white;

		.spacer {
			margin: 0 20px;
		}
	}

	mat-slider {
		flex: 1;
	}

	.value {
		width: 80px;
		text-align: center;
	}
}

.toggles {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 12px;
}
