@use './../../../../../styles/variables' as vars;

app-card {
	.card, button {
		background-color: vars.$settings-grey-one;
	}

	.card {
		height: 100%;

		button {
			background-color: vars.$settings-grey-two;
		}
	}
}

label {
	display: block;
	color: vars.$label-color;
	font-size: 12px;
	transform: perspective(100px) translateZ(0.001px);
}

.value-range {
	> .slider {
		display: flex;
		align-items: center;
		justify-content: center;

		.mat-slider {
			width: 100%;
		}
	}
}

.warning {
	color: vars.$orange;
}

::ng-deep {
	.mat-tooltip-lighter {
		background-color: vars.$settings-grey-two;
	}
}
