<ng-container *ngIf="(account$ | async) as account">
	<mat-card>
		<mat-card-header>
			{{'settings.poe-account' | translate}}
		</mat-card-header>
		@if(account.loggedIn) {
		<mat-card-content>
			<div class="row">
				<div class="col-md-4">
					<mat-card class="card">
						<div class="row">
							<div class="col-12">
								<mat-form-field matTooltip="{{ 'app.web-language-tooltip' | translate }}">
									<mat-label>{{ 'app.web-language' | translate }}</mat-label>
									<mat-select [(value)]="settings.language" (valueChange)="onLanguageChange()">
										<mat-option *ngFor="let language of languages.keys" [value]="language">
											{{ 'settings.languages.' + (languages.values[language] | lowercase) |
											translate }}
										</mat-option>
									</mat-select>
								</mat-form-field>
							</div>
						</div>
						<div class="row">
							<div class="col-9">
								<mat-form-field>
									<mat-label>{{ 'settings.account.name' | translate }}</mat-label>
									<input matInput [ngModel]="account.name" readonly />
								</mat-form-field>
							</div>
							<div class="col-3">
								<button mat-raised-button (click)="onLogoutClick()">
									{{ 'settings.account.logout' | translate }}
								</button>
							</div>
						</div>
					</mat-card>
				</div>
				<div class="col-md-4">
					<mat-card class="card">
						<div class="row">
							<div class="col-9">
								<mat-form-field floatLabel="always">
									<mat-label>{{ 'settings.character-update-interval' | translate }}</mat-label>
									<mat-select [(value)]="settings.charactersCacheExpiration"
										placeholder="{{ getDefaultIntervalLabel(defaultCharacterUpdateInterval) }}">
										<mat-option>{{ getDefaultIntervalLabel(defaultCharacterUpdateInterval)
											}}</mat-option>
										<mat-option *ngFor="let intervals of updateIntervals" [value]="intervals.value">
											{{ 'settings.update-intervals.' + intervals.name | translate }}
										</mat-option>
									</mat-select>
								</mat-form-field>
							</div>
							<div class="col-3">
								<button mat-raised-button (click)="onForceRefreshCharactersClick()">
									{{ 'settings.refresh' | translate }}
								</button>
							</div>
						</div>
						<div class="row">
							<div class="col-12">
								<mat-form-field floatLabel="always">
									<mat-label>
										{{ 'settings.active-character' | translate }}
										<span *ngIf="!settings.activeCharacterName">
											({{ 'settings.auto' | translate }})
										</span>
									</mat-label>
									<mat-select [(value)]="settings.activeCharacterName"
										placeholder="({{ (activeCharacter$ | async)!.name }})"
										matTooltip="{{ settings.activeCharacterName ? '' : 'settings.auto-selected-desc' | translate }}">
										<mat-option [matTooltip]="getCharacterSelectLabel(activeCharacter$.value)"
											matTooltipClass="mat-tooltip-lighter" matTooltipPosition="right">{{
											'settings.auto-select' | translate }}</mat-option>
										<mat-optgroup *ngFor="let leagueId of characterLeagues$ | async"
											label="{{ leagueId }} {{ 'settings.league' | translate }}">
											<mat-option
												*ngFor="let character of getCharacterInLeague(account.characters || [], leagueId)"
												[value]="character.name"
												[matTooltip]="getCharacterSelectLabel(character)"
												matTooltipClass="mat-tooltip-lighter" matTooltipPosition="right">
												{{ getCharacterSelectLabel(character) }}
											</mat-option>
										</mat-optgroup>
									</mat-select>
								</mat-form-field>
							</div>
						</div>
						<div class="row warning" *ngIf="getActiveCharacter()?.leagueId !== settings.leagueId">
							{{ 'settings.character-league-mismatch' | translate }}
						</div>
					</mat-card>
				</div>
			</div>
		</mat-card-content>
		} @else {
		<mat-card-content class="user-settings-login">
			<mat-form-field matTooltip="{{ 'app.web-language-tooltip' | translate }}">
				<mat-label>{{ 'app.web-language' | translate }}</mat-label>
				<mat-select [(value)]="settings.language">
					<mat-option *ngFor="let language of languages.keys" [value]="language">
						{{ 'settings.languages.' + (languages.values[language] | lowercase) | translate }}
					</mat-option>
				</mat-select>
			</mat-form-field>
			<small>({{ 'settings.account.login-info' | translate }})</small>
		</mat-card-content>
		<mat-card-actions>
			<button mat-button (click)="onLoginClick()">
				{{ 'settings.account.login' | translate }}
			</button>
		</mat-card-actions>
		}
	</mat-card>
	<mat-card>
		<mat-card-header>
			{{'settings.game-settings' | translate}}
		</mat-card-header>
		<mat-card-content class="user-settings-game-settings">
			<mat-form-field>
				<mat-label>{{ 'app.language' | translate }}</mat-label>
				<mat-select [(value)]="settings.gameLanguage">
					<mat-option *ngFor="let language of languages.keys" [value]="language">
						{{ 'settings.languages.' + (languages.values[language] | lowercase) | translate }}
					</mat-option>
				</mat-select>
			</mat-form-field>
			<mat-form-field>
				<mat-label>{{ 'settings.league' | translate }}</mat-label>
				<mat-select [(value)]="settings.leagueId">
					<mat-option *ngFor="let league of leagues$ | async" [value]="league.id">
						{{ league.text }}
					</mat-option>
				</mat-select>
				@if(!account.loggedIn) {
				<mat-hint>({{ 'settings.private-league-info' | translate }})</mat-hint>
				}
			</mat-form-field>
		</mat-card-content>
		<mat-card-actions>
			<button mat-button (click)="onForceRefreshLeaguesClick()">
				{{ 'settings.refresh' | translate }}
			</button>
		</mat-card-actions>
	</mat-card>
	<mat-card>
		<mat-card-header>
			{{'settings.dialog' | translate}}
		</mat-card-header>
		<mat-card-content class="user-settings-dialog">
			<mat-form-field>
				<mat-label>{{ 'settings.dialog-spawn-position-title' | translate }}</mat-label>
				<mat-select [(value)]="settings.dialogSpawnPosition">
					<mat-option [value]="1">
						{{ 'settings.dialog-spawn-position.cursor' | translate }}
					</mat-option>
					<mat-option [value]="2">
						{{ 'settings.dialog-spawn-position.center' | translate }}
					</mat-option>
				</mat-select>
			</mat-form-field>
			<div class="value-range">
				<mat-label>
					{{ 'settings.dialog-opacity' | translate }}
				</mat-label>
				<div class="slider">
					<span>60%</span>
					<mat-slider min="0.6" max="1" step="0.1" tickInterval="1" [displayWith]="displayWithOpacity"
						discrete>
						<input matSliderThumb [(value)]="settings.dialogOpacity!">
					</mat-slider>
					<span>100%</span>
				</div>
			</div>
		</mat-card-content>
	</mat-card>
	<mat-card>
		<mat-card-header>
			{{'settings.app' | translate}}
		</mat-card-header>
		<mat-card-content class="user-settings-app">
			<mat-slide-toggle [checked]="settings.displayVersion" (change)="settings.displayVersion = $event.checked">
				{{ 'settings.display-version' | translate }}
			</mat-slide-toggle>
			<mat-slide-toggle [checked]="autoLaunchEnabled$ | async" (change)="onAutoLaunchChange($event.checked)">
				{{ 'settings.auto-launch' | translate }}
			</mat-slide-toggle>
			<mat-slide-toggle [checked]="settings.autoDownload" (change)="settings.autoDownload = $event.checked">
				{{ 'settings.auto-download' | translate }}
			</mat-slide-toggle>
			<mat-slide-toggle [title]="'settings.focusable-description' | translate" [checked]="settings.focusable"
				(change)="settings.focusable = $event.checked">
				{{ 'settings.focusable' | translate }}
			</mat-slide-toggle>
			<mat-form-field>
				<mat-label>{{ 'settings.ui-language' | translate }}</mat-label>
				<mat-select [(value)]="settings.uiLanguage" (valueChange)="onUiLanguageChange()">
					<mat-option *ngFor="let language of uiLanguages.keys" [value]="language">
						{{ 'settings.languages.' + (uiLanguages.values[language] | lowercase) | translate }}
					</mat-option>
				</mat-select>
			</mat-form-field>
			<mat-form-field>
				<mat-label>{{ 'settings.zoom' | translate }}</mat-label>
				<mat-select [(value)]="settings.zoom" (valueChange)="onZoomChange()">
					<mat-option *ngFor="
				  let value of [25, 33, 50, 67, 75, 80, 90, 100, 110, 125, 150, 175, 200, 250, 300]
				" [value]="value">
						{{ value }}%
					</mat-option>
				</mat-select>
			</mat-form-field>
			<app-accelerator [label]="'settings.open-settings' | translate"
				[(value)]="settings.openUserSettingsKeybinding">
			</app-accelerator>
			<app-accelerator [label]="'settings.exit-app' | translate" [(value)]="settings.exitAppKeybinding">
			</app-accelerator>
		</mat-card-content>
	</mat-card>
	<app-card>
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-2">
				<div align="center">
					<button mat-raised-button (click)="relaunchApp()">
						{{ 'settings.relaunch-app' | translate }}
					</button>
				</div>
			</div>
			<div class="col-md-2">
				<div align="center">
					<button mat-raised-button (click)="exitApp()">
						{{ 'settings.exit-app' | translate }}
					</button>
				</div>
			</div>
			<div class="col-md-4"></div>
		</div>
	</app-card>
</ng-container>
